<section class="meetings cf">

<h1>Add Comments</h1>

<form class="formgroup addmeeting cf" name="myform" ng-submit="addMeeting()" ><!--WILL CREATE THIS 'ADDMEETING'METHOD LATER inside meeetings js file-->
 <div class="inputwrapper">
 	<input type="text" name="meetingname" placeholder="comment here" ng-model="meetingname" ng-required="true">

 	<button type="submit" class="btn"
ng-disabled="myform.$invalid">+</button>
	</form>




  <div class="meeting" ng-repeat="meeting in meetings">
    <p>{{meeting.name | limitTo:140 }}</p>
  </div>
</section>